<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plataformaparaformal.Mumbai"
    android:versionCode="1"
    android:versionName="0.2">
    <permission
        android:name="com.plataformaparaformal.Mumbai.PrincipalActivity.MAPS_RECEIVE"
        android:protectionLevel="signature">
    </permission>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS">
    </uses-permission>
    <uses-permission
        android:name="com.plataformaparaformal.Mumbai.PrincipalActivity.MAPS_RECEIVE">
    </uses-permission>
    <uses-permission
        android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-permission
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES">
    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_paraformalidade"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAUQ6aiaMjplBnTnjKJbvckhbb-9ANXB-Y">
        </meta-data>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version">
        </meta-data>
        <activity
            android:name="com.plataformaparaformal.Mumbai.PrincipalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.plataformaparaformal.Mumbai.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName="com.plataformaparaformal.Mumbai.PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plataformaparaformal.Mumbai.PrincipalActivity" >
            </meta-data>
        </activity>
        <activity
            android:name="com.plataformaparaformal.Mumbai.SeeParaformalidadeActivity"
            android:label="@string/see_title"
            android:parentActivityName="com.plataformaparaformal.Mumbai.PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plataformaparaformal.Mumbai.PrincipalActivity" >
            </meta-data>
        </activity>
        <activity
            android:name="com.plataformaparaformal.Mumbai.ImageFullActivity"
            android:label="@string/imageFull_title"
            android:parentActivityName="com.plataformaparaformal.Mumbai.SeeParaformalidadeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plataformalparaformal.Mumbai.SeeParaformalidadeActivity" >
            </meta-data>
        </activity>
        <activity
            android:name="com.plataformaparaformal.Mumbai.EditParaformalidadeActivity"
            android:label="@string/edit_title"
            android:parentActivityName="com.plataformaparaformal.Mumbai.SeeParaformalidadeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plataformaparaformal.Mumbai.SeeParaformalidadeActivity" >
            </meta-data>
        </activity>
        <activity
            android:name="com.plataformaparaformal.Mumbai.SearchActivity"
            android:label="@string/search_title"
            android:parentActivityName="com.plataformaparaformal.Mumbai.SeeParaformalidadeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plataformaparaformal.Mumbai.SeeParaformalidadeActivity" >
            </meta-data>
        </activity>
    </application>

</manifest>
